name: Continuous_Integration_Testing

on: [push, pull_request]

jobs:
  build-macos-native:
    runs-on: macOS-latest
    env:
      CCACHE_COMPRESS: 1
      CCACHE_TEMPDIR: /tmp/.ccache-temp
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: /Users/runner/Library/Caches/ccache
        key: ccache-macos-build-${{ github.sha }}
        restore-keys: ccache-macos-build-
    - name: install dependencies
      run: brew install boost hidapi zmq libpgm ldns expat libunwind-headers protobuf ccache
    - name: build sumokoin
      run: |
        ccache --max-size=150M
        make -j 3

  macOS-cross-on-bionic:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install cmake build-essential autoconf automake gperf libtool imagemagick libcap-dev librsvg2-bin libz-dev libbz2-dev libtiff-tools python-dev python-pip
    - name: install setuptools
      run: pip install setuptools
    - name: get SDK
      run:  wget https://sumokoin.org/downloads/Xcode-11.3.1-11C505-extracted-SDK-with-libcxx-headers.tar.gz
    - name: create SDKs dir, move and extract SDK
      run: |
        sudo mkdir /home/runner/work/sumokoin/sumokoin/contrib/depends/SDKs
        sudo mv Xcode-11.3.1-11C505-extracted-SDK-with-libcxx-headers.tar.gz /home/runner/work/sumokoin/sumokoin/contrib/depends/SDKs
        cd /home/runner/work/sumokoin/sumokoin/contrib/depends/SDKs
        sudo tar -xf Xcode-11.3.1-11C505-extracted-SDK-with-libcxx-headers.tar.gz
        cd /home/runner/work/sumokoin/sumokoin
    - name: build sumokoin
      run: make depends target=x86_64-apple-darwin14 -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: Macos-release-binaries
        path: build/**/bin/

  build-windows-native-msys2:
    runs-on: windows-latest
    env:
      CCACHE_COMPRESS: 1
      CCACHE_TEMPDIR: C:\Users\runneradmin\.ccache-temp
      CCACHE_DIR: C:\Users\runneradmin\.ccache
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: C:\Users\runneradmin\.ccache
        key: ccache-windows-build-${{ github.sha }}
        restore-keys: ccache-windows-build-
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: mingw-w64-x86_64-toolchain make mingw-w64-x86_64-cmake mingw-w64-x86_64-ccache mingw-w64-x86_64-libunwind mingw-w64-x86_64-boost mingw-w64-x86_64-openssl mingw-w64-x86_64-zeromq mingw-w64-x86_64-libsodium mingw-w64-x86_64-hidapi mingw-w64-x86_64-protobuf-c mingw-w64-x86_64-libusb git
    - name: build sumokoin
      run: |
        ccache --max-size=150M
        make release-static-win64 -j 3

  Windows32-cross-on-focal-fossa:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: |
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install make automake cmake curl libtool binutils-gold g++-mingw-w64-i686 pkg-config python3 gperf 
    - name: cross compile sumokoin bins for windows-32bit
      run: make depends target=i686-w64-mingw32 -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: Windows32-release-binaries
        path: build/**/bin/
        
  Windows64-cross-on-bionic:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install python3 g++-mingw-w64-x86-64 wine1.6 bc gperf autoconf automake libtool build-essential cmake graphviz doxygen libunwind8-dev pkg-config libssl-dev libnorm-dev libusb-1.0-0-dev libpgm-dev ccache
    - name: cross compile sumokoin windows binaries
      run: make depends target=x86_64-w64-mingw32 -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: Windows64-release-binaries
        path: build/**/bin/

  build-ubuntu-bionic-native:
    runs-on: ubuntu-18.04
    env:
      CCACHE_COMPRESS: 1
      CCACHE_TEMPDIR: /tmp/.ccache-temp
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ccache-ubuntu-bionic-build-${{ github.sha }}
        restore-keys: ccache-ubuntu-bionic-build-
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install build-essential cmake libboost-all-dev miniupnpc libunbound-dev libevent-dev graphviz doxygen libunwind8-dev pkg-config libssl-dev libzmq3-dev libsodium-dev libhidapi-dev libnorm-dev libusb-1.0-0-dev libpgm-dev ccache
    - name: build sumokoin
      run: |
        ccache --max-size=150M
        make -j 3

  build-bionic-debug-native:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ccache-ubuntu-debug-build-${{ github.sha }}
        restore-keys: ccache-ubuntu-debug-build-
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install build-essential cmake libboost-all-dev miniupnpc libunbound-dev graphviz doxygen libunwind8-dev pkg-config libssl-dev libzmq3-dev libsodium-dev libhidapi-dev libnorm-dev libusb-1.0-0-dev libpgm-dev ccache
    - name: build sumokoin
      run: |
        ccache --max-size=150M
        make -j 3

  build-ubuntu-focal-fossa-native:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ccache-ubuntu-focal-build-${{ github.sha }}
        restore-keys: ccache-ubuntu-focal-build-
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install build-essential cmake libboost-all-dev miniupnpc libunbound-dev graphviz doxygen libunwind8-dev pkg-config libssl-dev libzmq3-dev libsodium-dev libhidapi-dev libnorm-dev libusb-1.0-0-dev libpgm-dev ccache
    - name: build sumokoin
      run: |
        ccache --max-size=150M
        make -j 3

  build-ubuntu-focal-fossa-native-with-clang-10:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ccache-ubuntu-focal-build-${{ github.sha }}
        restore-keys: ccache-ubuntu-focal-build-
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install build-essential clang-10 cmake libboost-all-dev miniupnpc libunbound-dev graphviz doxygen libunwind8-dev pkg-config libssl-dev libzmq3-dev libsodium-dev libhidapi-dev libnorm-dev libusb-1.0-0-dev libpgm-dev ccache
    - name: build sumokoin
      run: |
        export CC=/usr/bin/clang
        export CXX=/usr/bin/clang++
        ccache --max-size=150M
        make -j 3

  build-ubuntu-bionic-static-native:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ccache-ubuntu-bionic-static-build-${{ github.sha }}
        restore-keys: ccache-ubuntu-bionic-static-build-
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install build-essential cmake miniupnpc libunbound-dev libevent-dev graphviz doxygen pkg-config libssl-dev libsodium-dev libhidapi-dev libnorm-dev libusb-1.0-0-dev libpgm-dev libudev-dev ccache libtool autoconf automake python libtinfo5 ccache
    - name: build boost 1_74
      run: |
        wget https://dl.bintray.com/boostorg/release/1.74.0/source/boost_1_74_0.tar.bz2
        tar -xvf boost_1_74_0.tar.bz2
        rm -f /usr/boost_1_74_0.tar.bz2
        cd boost_1_74_0
        sudo ./bootstrap.sh
        sudo ./b2 install -j 3
        cd ..
    - name: build zmq
      run: |
        git clone https://github.com/zeromq/libzmq.git
        cd libzmq
        sudo ./autogen.sh
        sudo ./configure
        sudo make -j 3
        sudo make install
        sudo ldconfig
        cd ..
    - name: build libunwind
      run: |
        git clone https://github.com/libunwind/libunwind
        cd libunwind
        sudo ./autogen.sh
        sudo ./configure
        sudo make -j 3
        sudo make install
        cd ..
    - name: build sumokoin
      run: |
        ccache --max-size=150M
        make release-static -j 3

  FreeBSD-cross-on-bionic:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install autoconf automake libtool gperf cmake clang-8
    - name: cross compile sumokoin bins for FreeBSD
      run: make depends target=x86_64-unknown-freebsd -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: FreeBSD-release-binaries
        path: build/**/bin/

  cross-build-linux-x64-binaries-on-xenial:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: |
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt update
    - name: install sumokoin dependencies
      run: |
        sudo apt -y install dpkg-dev cmake g++-7 gcc pkg-config libtool autoconf automake gperf
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 \
                        --slave /usr/bin/g++ g++ /usr/bin/g++-7
        sudo update-alternatives --config gcc
    - name: cross compile sumokoin bins for linux x64
      run: make depends target=x86_64-linux-gnu -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: linux64-release-binaries
        path: build/**/bin/

  cross-build-armv7-binaries-on-bionic:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install dpkg-dev cmake pkg-config libtool autoconf automake gperf g++-arm-linux-gnueabihf binutils-arm-linux-gnueabihf
    - name: cross compile sumokoin bins for armv7
      run: make depends target=arm-linux-gnueabihf -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: armv7-release-binaries
        path: build/**/bin/

  cross-build-armv8-binaries-on-bionic:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install dpkg-dev cmake pkg-config libtool autoconf automake gperf g++-aarch64-linux-gnu
    - name: cross compile sumokoin bins for armv8
      run: make depends target=aarch64-linux-gnu -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: armv8-release-binaries
        path: build/**/bin/

  cross-build-RISCV64-binaries-on-bionic:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run:  sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install dpkg-dev cmake pkg-config libtool autoconf automake gperf g++-riscv64-linux-gnu
    - name: cross compile sumokoin bins for RISC V 64
      run: make depends target=riscv64-linux-gnu -j 3
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: RISCV64-release-binaries
        path: build/**/bin/

  test-ubuntu:
    needs: build-ubuntu-bionic-native
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: remove bundled boost
      run: sudo rm -rf /usr/local/share/boost
    - name: set apt conf
      run: |
        echo "Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::http::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
        echo "Acquire::ftp::Timeout \"120\";" | sudo tee -a /etc/apt/apt.conf.d/80-custom
    - name: update apt
      run: sudo apt update
    - name: install sumokoin dependencies
      run: sudo apt -y install build-essential cmake libboost-all-dev miniupnpc libunbound-dev libevent-dev graphviz doxygen libunwind8-dev pkg-config libssl-dev libzmq3-dev libsodium-dev libhidapi-dev libnorm-dev libusb-1.0-0-dev libpgm-dev
    - name: install requests
      run: pip install requests
    - name: tests
      env:
        CTEST_OUTPUT_ON_FAILURE: ON
      run: make release-test -j 3
